/docs/_build/*
*.png
!icon.png
*.dot
/src/__pycache__/*
/src/utils/__pycache__/*
/src/classes/__pycache__/*
src/custom_pandas/__pycache__/*
*.asc
.DS_Store
._.DS_Store
*.out
._slurm.txt
slurm.txt
._.slurm.txt
.coverage
/tests/__pycache__/*
/src/custom_pandas/.ipynb_checkpoints/*
